.row {
    display: flex;
    justify-content: space-between;
}

.graphBox {
    width: 100%;
    overflow-y: auto;
    height: 95vh;
}
/* This must be written globally */
:global(.DashboardPage_graphBox__h4DO1::-webkit-scrollbar) {
    width: 25px;
    height: 100%;
}
:global(.DashboardPage_graphBox__h4DO1::-webkit-scrollbar-track) {
    background: rgb(44, 44, 44);
}
:global(.DashboardPage_graphBox__h4DO1::-webkit-scrollbar-thumb) {
    background-color: rgb(159, 159, 159);
    border-radius: 15px;
    margin: 5px;
    border: 7px solid rgb(44, 44, 44);
}
:global(.DashboardPage_graphBox__h4DO1::-webkit-scrollbar-thumb:hover) {
    background-color: rgb(204, 204, 204);
}
.title {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 1vh;
}

.boundingBox {
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: rgb(44, 45, 49);
}

.gseBox {
    min-width: 500px;
    width: 700px; /* Don't know why this needs to be here */
    padding-left: 5px;
    padding-right: 5px;
    height: 300px;
}

.ecuBox {
    width: 700px;
    padding-left: 5px;
    padding-right: 5px;
    height: 300px;
}

.ecuSwitchColumn {
    padding: 10px;
}

.switches {
    z-index: 2;
}

.battery {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(65, 66, 73);
    border-radius: 5px;
    text-align: center;
    border-color: white;
    border-width: 3px;
    width: 80%;
}

.gseGaugeRow {
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
}
.ecuGaugeRow {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    height: 225;
}
.switchRow {
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
}
.launchRow {
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
}

.launchRowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.batteryButtons {
    display: flex;
    justify-content: space-around;
}

.supplyBattery {
    display: inline-flex;
    justify-content: space-around;
}

.abort {
    display: flex;
    justify-content: center;
}

.darkButton {
    padding: 10px 0px;
    background-color: rgb(24, 24, 27);
    border: none;
    color: white;
}

.darkButton:hover {
    background-color: rgb(41, 41, 46);
}
