.row {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar-button {
    display: none;
    width: 50px;
    height: 50px;
}

.title {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.boundingBox {
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: rgb(44, 45, 49);
}

.toolingBoundingBox {
    overflow: auto;
    height: 500px;
}

.tooling {
    width: 100%;
    height: "100%";
}

.gseBox {
    min-width: 400px;
    width: 500px; /* Don't know why this needs to be here */
    padding-left: 5px;
    padding-right: 5px;
    height: 300px;
}

.ecuBox {
    width: 700px;
    padding-left: 5px;
    padding-right: 5px;
    height: 300px;
}
.graphBox {
    width: 100%;
}

.ecuSwitchColumn {
    padding: 10px;
}

.switches {
    z-index: 2;
}

.battery {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(65, 66, 73);
    border-radius: 5px;
    text-align: center;
    border-color: white;
    border-width: 3px;
    width: 80%;
}

.gseGaugeRow {
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
}
.ecuGaugeRow {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    height: 225;
}
.switchRow {
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
}
.launchRow {
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
}

.launchRowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.batteryButtons {
    display: flex;
    justify-content: space-around;
}

.supplyBattery {
    display: inline-flex;
    justify-content: space-around;
}

.abort {
    display: flex;
    justify-content: center;
}

.dropdown {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: -5px;
    left: 30%;
    z-index: 5;
    border-radius: 10px;
    background-color: rgb(24, 24, 27);
    width: 40%;
}
.dropdownContent {
    min-height: 0px;
    height: 0px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.dropdown:hover .dropdownContent {
    height: 600px;
}

.darkButton {
    background-color: rgb(24, 24, 27);
    border: none;
    color: white;
}

.darkButton:hover {
    background-color: rgb(41, 41, 46);
}
