.row {
    display: flex;
}

.chart {
    width: 100%;
}
.selectionBox {
    width: 25%;
}
.graphBox {
    margin-left: 5%;
    width: 70%;
}
.selectedKey {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.keyTitle {
    margin: 0;
    margin-left: 5%;
    margin-right: 2%;
}
.keyButton {
    width: 10%;
}
select {
    background-color: rgb(37, 35, 35);
    width: 300px;
    color: white;
    font-size: 25px;
    height: 50px;
}
input {
    background-color: rgb(37, 35, 35);
    width: 300px;
    color: white;
    font-size: 25px;
    height: 50px;
    margin-left: 20px;
}
