.rocketSwitch {
    transform: rotate(-90deg);
    margin-top: 10px;
}
.switchRow {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

.status {
    display: inline-flex;
    flex-direction: column;
}

.status-one {
    height: 50px;
}
.flame {
    height: 130%;
    margin-top: -30%;
}

h2 {
    /* background-color: rgb(50, 51, 56); */
    text-align: center;
    /* margin-bottom: -8px; */
}

.rocketSwitchParts {
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 175px;
    z-index: 2;
}

.components {
    background-color: rgb(65, 66, 73);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
}

.circle {
    height: 30;
    width: 30;
    border-radius: 1000;
    border-width: 2px;
}

p {
    padding-left: 82px;
}

.on {
    margin-bottom: 4%;
}
